@page "/"

<PageTitle>Main</PageTitle>

<h1>Hash Tables Demo</h1>

<p >This Blazor App demonstraits usage of different Hash Tables types</p>

<p >
    How does it work? Random data generates and fits into CSV file, which is later used by web app.
</p>

<p>Time complexity: </p>
<ul>
    <li>Adding: O(n)</li>
    <li>Search: O(n)</li>
    <li>Remove: O(n)</li>
</ul>

<SurveyPrompt Title="Web App was made by MVasili34" />
